version: '3.8'

services:
  eureka1:
    build: ./eureka-server
    container_name: eureka-server-1
    ports:
      - "8761:8761"
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    environment:
      - SERVER_PORT=8761
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka2:8762/eureka/
  eureka2:
    build: ./eureka-server
    container_name: eureka-server-2
    ports:
      - "8762:8762"
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider",  "http://localhost:8762/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    environment:
      - SERVER_PORT=8762
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka1:8761/eureka/