version: '3.8'

services:
  eureka1:
    build: ./eureka-server
    container_name: eureka-server-1
    ports:
      - "8761:8761"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s
    environment:
      - SERVER_PORT=8761
      - EUREKA_INSTANCE_HOSTNAME=eureka1
      - EUREKA_INSTANCE_PREFERIPADDRESS=false
      - EUREKA_CLIENT_REGISTERWITHEUREKA=true
      - EUREKA_CLIENT_FETCHREGISTRY=true
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka2:8762/eureka/
      - LOGGING_LEVEL_COM_NETFLIX_EUREKA=DEBUG
      - LOGGING_LEVEL_COM_NETFLIX_DISCOVERY=DEBUG
  eureka2:
    build: ./eureka-server
    container_name: eureka-server-2
    ports:
      - "8762:8762"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider",  "http://localhost:8762/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s
    environment:
      - SERVER_PORT=8762
      - EUREKA_INSTANCE_HOSTNAME=eureka2
      - EUREKA_INSTANCE_PREFERIPADDRESS=false
      - EUREKA_CLIENT_REGISTERWITHEUREKA=true
      - EUREKA_CLIENT_FETCHREGISTRY=true
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka1:8761/eureka/
      - LOGGING_LEVEL_COM_NETFLIX_EUREKA=DEBUG
      - LOGGING_LEVEL_COM_NETFLIX_DISCOVERY=DEBUG