server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:

  config:
    import:
      optional:
      configserver:

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

  instance:
    hostname: localhost
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,routes
  endpoint:
    gateway:
      access: read_only
    health:
      show-details: always