server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: book-service-api
          uri: lb://BOOK-SERVICE
          predicates:
            - Path=/api/**
        - id: book-service-route
          uri: lb://BOOK-SERVICE
          predicates:
            - Path=/v3/api-docs/**, /swagger-ui/**
          filters:
            - StripPrefix=0
  config:
    import:
      optional:
      configserver:

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

  instance:
    hostname: localhost
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,routes
  endpoint:
    gateway:
      access: read_only
    health:
      show-details: always
jwt:
  header: Authorization
  basic-token-prefix: Bearer
  secret: 9MJZGQ2TyEzmlNgIwV_Yp0uXEl6BqFJ9Xg7gQ7K9hzS5nAcp-b1ufIe0ftsB1Qsn