services:
  postgres:
    image: postgres:13
    container_name: postgres-db
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:alpine
    restart: unless-stopped
    container_name: redis-cache
    ports:
      - "6379:6379"
  mongo:
    image: mongo
    container_name: mongo-db
    environment:
      MONGO_INITDB_DATABASE: product_reviews
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
volumes:
  postgres_data:
  mongo_data: