apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka
  labels:
    app: eureka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka
  template:
    metadata:
      labels:
        app: eureka
    spec:
      containers:
        - name: eureka-server
          image: eureka-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8761
          volumeMounts:
            - name: eureka-config
              mountPath: /config
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "250m"
      volumes:
        - name: eureka-config
          configMap:
            name: eureka-config
